.App {
  text-align: center;
}

h1{
  background: yellow;
  color:#ccc;
}

h2{
  background-color: blueviolet;
  color: #FAFAFA;
}

.box{
  width: 200px;
  height: 200px;
  background: #ccc;
  margin-bottom: 5px; 
  margin-left: 5px;
  float: left;
}

.container{
  overflow: hidden;
}

.world{
  background: cadetblue;
}
.App span{
  margin:10px;
  padding:5px;
  color: black;
  font-weight: bold;
}

.App td{
  border-bottom: 1px solid #ccc;
}